In [1]:
import configparser
import psycopg2
from sql_queries import create_table_queries, drop_table_queries

In [2]:
def drop_tables(cur, conn):
    """Remove staging_events_table, staging_songs_table, songplay_tbl table, \
    user_tbl table, song_tbl table, artist_tbl table \
    and time_tbl table on database.

    Args:
        cur (cursor): Database connection object.
        conn (connection): Database connection object.

    """
    for query in drop_table_queries:
        print(query)
        cur.execute(query)
        conn.commit()

def create_tables(cur, conn):
    """Create staging_events_table, staging_songs_table, songplay_tbl table, \
    user_tbl table, song_tbl table, artist_tbl table \
    and time_tbl table on database.

    Args:
        cur (cursor): Database connection object.
        conn (connection): Database connection object.

    """
    for query in create_table_queries:
        print(query)
        cur.execute(query)
        conn.commit()

In [3]:
def main():
    config = configparser.ConfigParser()
    config.read('dwh.cfg')

    conn = psycopg2.connect("host={} dbname={} user={} password={} port={}".format(*config['CLUSTER'].values()))
    cur = conn.cursor()
    
    drop_tables(cur, conn)
    create_tables(cur, conn)

    conn.close()


if __name__ == "__main__":
    main()

drop table IF EXISTS staging_events_table CASCADE
drop table IF EXISTS staging_songs_table CASCADE
drop table IF EXISTS songplay_tbl CASCADE
drop table IF EXISTS users_tbl CASCADE
drop table IF EXISTS songs_tbl CASCADE
drop table IF EXISTS artists_tbl CASCADE
drop table IF EXISTS time_tbl CASCADE

    CREATE TABLE if not exists staging_events_table (
    artist varchar(255),
    auth varchar(10),
    firstname varchar(100),
    gender char,
    iteminsession int,
    lastname varchar(255),
    length float,
    level varchar(10),
    location varchar(255),
    method varchar(10),
    page varchar(50),
    registration float,
    sessionid int,
    song varchar(255),
    status int,
    ts timestamp,
    useragent varchar(255),
    userid int);


    CREATE TABLE if not exists staging_songs_table (
    num_songs int,
    artist_id varchar(50),
    artist_latitude float,
    artist_longitude float,
    artist_location varchar(255),
    artist_name varchar(255),
    song_id varchar(50),
    title varchar(255),
    duration float,
    year int);

create table if not exists songplay_tbl (
    songplay_id int IDENTITY(1,1),
    start_time timestamp NOT NULL,
    user_id int NOT NULL,
    level varchar(10),
    song_id varchar(50) NOT NULL,
    artist_id varchar(50),
    session_id int,
    location varchar(255),
    user_agent varchar(255),
    PRIMARY KEY (songplay_id));

create table if not exists user_tbl (
    userid int NOT NULL,
    firstname varchar(100),
    lastname varchar(255),
    gender char,
    level varchar(10),
    PRIMARY KEY(userid));

create table if not exists song_tbl (
    song_id varchar(50) NOT NULL,
    title varchar(255),
    artist_id varchar(50),
    year int,
    duration float NOT NULL,
    PRIMARY KEY(song_id));

create table if not exists artist_tbl (
    artist_id varchar(50) NOT NULL,
    name varchar(255) NOT NULL,
    location varchar(255),
    latitude float,
    longitude float,
    PRIMARY KEY(artist_id));

create table if not exists time_tbl (
    start_time timestamp NOT NULL,
    hour int,
    day int,
    week int,
    month varchar(15),
    year int,
    weekday varchar(15),
    PRIMARY KEY(start_time));